/* CSS Reset */
*{
    padding: 0%;
    margin: 0%;
}

/* Container Section */
#container{
    height: 100vh;
    width: 100vw;
    /* border: 2px solid red; */

    display: flex;
    justify-content: center;
    align-items: center;
}

#container::before{
    content: "";
    position: absolute;
    background: url("/img/bg.jpg") no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 1;
}

/* Outer Box Section */
.box{
    height: 60%;
    width: 30%;
    /* border: 2px solid blue;  */

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Inner Box 1 Section */
#innerbox1{
    height: 80%;
    width: 80%;
    /* border: 2px solid green;  */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 8px;
}

#innerbox1 img{
    height: 45%;
    border-radius: 50%;
    margin-top: -50px;
}

#name{
    margin-top: 12px;
    margin-bottom: -10px;
    font-size: 1.4rem;
    font-family: 'IBM Plex Sans Devanagari', sans-serif;

    color: white;
}

#line{
    margin-bottom: 10px;

    color: rgb(230, 28, 233);
}

#wd{
    color: white;
    opacity: 0.8;
}

#icon{
    position: absolute;
    margin: 10px;
}

.fa-brands{
    margin-top: 290px;
    padding: 5px;

    font-size: 1.2rem;
    color: white;
    background-color: rgb(233, 28, 175);
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;

    transition: 1s;
}

#icon i:hover{
    color: black;
}

/* Inner Box 2 Section */
#innerbox2{
    text-align: center;
}

#heading1{
    font-size: 3.3rem;
    margin-bottom: -5px;
    font-family: 'IBM Plex Sans Devanagari', sans-serif;

    color: white;
}

span{
    color: rgb(233, 28, 175);
}

#heading2{
    font-size: 1.2rem;
    margin-bottom: 30px;

    color: white;
}

#para{
    padding: 0px 30px;
    /* margin-top: 20px; */
    margin-bottom: -10px;
    font-family: 'Lato', sans-serif;

    color: white;
    opacity: 0.6;
}

#para1{
    padding-top: 20px;
}

#innerbox2 p{
    margin: 5px;
}

#para2{
    padding-bottom: 50px;
}

.link{
    text-decoration: none;
    border: 2px solid white;
    padding: 3px 22px;
    border-radius: 15px;
    background-color: #171740;
    margin: 3px;

    color: white;
    transition: 1s;
}

.link:hover{
    background-color: rgb(233, 28, 175);
    border: none;
}

.link1{
    text-decoration: none;
    border: 2px solid rgb(0, 0, 179);
    padding: 3px 22px;
    border-radius: 15px;
    background-color: #171740;
    margin: 3px;

    color: white;
    transition: 1s;

    opacity: 0.5;
    position: sticky;
}

.link1:hover{
    background-color: rgb(233, 28, 175);
    border: none;
    
    opacity: 1;
}

/* Background */
#bggra{
    background: linear-gradient(20deg, rgb(0, 255, 255) 0% 10%, rgb(255, 44, 230) 80% 100%);
}

.bgblue{
    background-color: #171740;
}